body, html {
    padding: 0;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

video {
    display: none;
    position: absolute;
    top: 0;
    transform: scale(0.7);
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 390px) and (max-width: 690px) {
    video {
        top: 30vh;
    }
}